<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Markdown File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>net.daringfireball.markdown</string>
                <string>public.plain-text</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>md</string>
                <string>markdown</string>
            </array>
        </dict>
    </array>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMessage</key>
            <string>sendTextToCider</string>
            <key>NSPortName</key>
            <string>Cider</string>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Send to Cider</string>
            </dict>
            <key>NSSendTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
        </dict>
        <dict>
            <key>NSMessage</key>
            <string>sendImageToCider</string>
            <key>NSPortName</key>
            <string>Cider</string>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Send to Cider</string>
            </dict>
            <key>NSSendTypes</key>
            <array>
                <string>public.png</string>
                <string>public.jpeg</string>
                <string>public.tiff</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
